@font-face {
  font-family: "bebasregular";
  src: url("../font/bebas___-webfont.ttf");
}
@font-face {
  font-family: "helvetica";
  src: url("../font/HelveticaNeue.ttf");
}
.single_content_area{
	padding-left: 0px;
	padding-right:0px;
}
