* {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0 auto;
}
a {
    color: #000;
    text-decoration: none;
    :hover{
    	text-decoration: none;
    }
}
.logo {
	h1 {
    font-size: 36px;
    margin: 30px 0;
    color: $naranja;
    font-family: bebasregular;
    span {
    color: $salmon;
	}
  	}
  	:hover{
  		text-decoration: none;
  	}
}
.mainmenu {
    margin-top: 20px;
    margin-right: -15px;
}
#nav {
    display: block;
     ul {
    margin: 0;
    padding: 0;
	}
	li {
    float: left;
    list-style-type: none;
	}
	 a {
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    color: $gris;
    font-size: 16px;
    font-family: bebasregular;
	}
}

.mainmenu ul li a:hover, .current-page-item, .active {
    color: $naranja !important;
    text-decoration:none;
}
